# 파이썬 기초

- 2차원 리스트 생성과 접근

In [2]:
# 1차원 리스트 생성
a=[0]*3
print(a)

[0, 0, 0]

In [4]:
# 2차원 리스트 생성
a=[[0]*3 for _ in range(3)]
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

| 행/열 | 0 | 1 | 2 |   |
|-------|---|---|---|---|
|<h4>0</h4>     | 0 | 0 | 0 |   |
|<h4>1</h4>     | 0 | 0 | 0 |   |
|<h4>2</h4>     | 0 | 0 | 0 |   |

- 첫번재 리스트가 0번 행을 의미

In [10]:
a[0][1]=1
a[1][1]=2
a

[[0, 1, 0], [0, 2, 0], [0, 0, 0]]

| 행/열 | 0 | 1 | 2 |   |
|-------|---|---|---|---|
|<h4>0</h4>     | 0 | 1 | 0 |   |
|<h4>1</h4>     | 0 | 2 | 0 |   |
|<h4>2</h4>     | 0 | 0 | 0 |   |

In [11]:
for x in a:
    print(x)

[0, 1, 0]
[0, 2, 0]
[0, 0, 0]

In [12]:
#2차원 리스트의 값들만 출력하기
for x in a: #x가 1차원 리스트
    for y in x: #y는 해당 x 리스트의 원소값?
        print(y, end=' ')
    print()

0 1 0
0 2 0
0 0 0

### 함수 만들기

In [16]:
def add (a, b):
    c=a+b
    print(c)

add(3, 2) # 프로그램이 작동, add라는 함수가 있구나 하고, add(3, 2)를 호출, add라는 함수를 작동시켜라라는 의미이고, 3과 2가 a,b에 대입
#5가 출력됨

add(5, 7)

5
12

### 함수는 메인스크립트 위쪽에 해야한다. 그래야 인식을 한다.
### 함수는 return을 통해 값을 리턴하고 함수를 종료하며, return을 사용하면 메인스크립트에서 사용이 가능

In [18]:
def add(a,b):
    c=a+b
    return c
# return을 하면 a+b를 더한 값을 반환을 해준다.

print(add(3, 2)) # 메인스크립트 호출해서 함수가 작동하여 3, 2를 받아 더한 값을 c에 담은 결과를 반환을 하여 add가 받음
# 즉 함수에서 출력하는게 아니라 메인스크립트에서 출력하는 것.
# 또한 아래와 같이도 가능
x=add(3, 2)
print(x)

5
5

In [19]:
def add(a, b):
    c=a+b
    d=a-b
    return c, d
# 두개 값을 반환할 수 있다. C++처럼. 정수 값 두개를 리턴 가능 -> 리턴하면 튜플 자료형으로 리턴이 된다.

print(add(3, 2))

(5, 1)

In [23]:
def isPrime(x):
    for i in range(2, x): #2부터 x전까지 반복하겠다.
        if x%i==0: # 1과 자기 자신만 남아야 소수, if 조건이 참이면 i는 x의 약수이므로 False를 리턴
            return False # 함수가 종료됨
    return True  # if를 만족하지 못하는 값에 대해 리턴하고 종료



a=[12, 13, 7, 9, 19]
# 위 리스트에서 소수만 출력하는 프로그램 만들기
# a 리스트를 선언한 후 맨 윗줄에서 함수 만들기

for x in a: #함수에서의 x와 다름 함수x는 지역변수, 
    if isPrime(x):
        print(x, end=' ') # x가 정해지고 imPrime이 호출되면 함수가 작동, 여기서의 x값이 함수 안에서의 x로 전달, 참인지 거짓인지 계산
        # x는 a에 하나하나 접근하여 x가 리스트의 처음 12를 계산, 12가 소수인지 아닌지 계산하여 True인 경우만 출력

13 7 19

## 람다 함수

- 익명의 함수
- 람다 표현식
- 으로도 불린다

In [2]:
def plus_one(x):
    return x+1

print(plus_one(1)) # 위에 만들어준 함수에서 plus_one(x) 부분에서 x에 1이 넘어가서 1에 다가 +1하여 2가 출력되겠다.

2

- 이것을 람다함수로 하면 어떻게 될까?

In [3]:
#아래줄이 함수인데, lamda 앞에 변수명을 할당
plus_two=lambda x: x+2
print(plus_two(1))

3

- 람다함수는 표현식

In [2]:
def plus_one(x):
    return x+1

#a라는 리스트가 있다고 가정
a=[1, 2, 3]
print(list(map(plus_one, a))) # a라는 list를 map 해라..? a 자료구조가 plus_one 함수에 적용되는 것이다.

# map(int, 1, 2,3,) -1,2,3은 문자, int는 내장함수명, 123은 자료형
# int자리에 plus_one 함수를 작동시키자.

[2, 3, 4]

#### 위의 내용을 람다함수로 한 줄로 표현해보자

In [4]:
print(list(map(lambda x: x+1, a)))

[2, 3, 4]

#### 위와 같이 익명의 표현식을 내장함수의 인자로 사용할 때 편리하며, sort라는 것의 인자로 lambda로 사용하기도 한다

# 올인원 패키지 파이썬 기초 - 조건문과 반복문- if, elif, else 활용

In [2]:
if 6 >= 5:
    print('6 is greater than 5')
    print('Yeah, it is true')
    print('it is really true')
    
print ('This code is not belongs to if statements')

6 is greater than 5
Yeah, it is true
it is really true
This code is not belongs to if statements

In [3]:
if 6 == 5:
    print('6 is greater than 5')
    print('Yeah, it is true')
    print('it is really true')
    
print ('This code is not belongs to if statements')

This code is not belongs to if statements

In [6]:
a = 10
b = 8
c = 11

In [7]:
if a == 10 and b == 8:
    print('that is true')

that is true

In [8]:
if a == 10 or b == 9 and c == 12:
    print('that is true')

that is true

In [11]:
a = 0
if a:
    print('print')

In [12]:
a = 10
if a:
    print('print')

print

-다양한 type들이 조건문에 올 수 있지만 기본값 (0 또는 빈 리스트, 튜플, 딕셔너리, 집합 등)을 제외하고는 모두 True로 간주한다

In [13]:
a = []
if a:
    print('print')

## for 반복문
- 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- 아래와 같은 문법으로 사용
- 여기서 i는 매번 수행될 때마다, a의 아이템으로 순차적으로 변경됨
- 모든 아이템이 순회되면 for 블록 종료

In [5]:
a = [1,2,3,4,5]
for i in a:
     print (i, i * 2)
print('hahaha')

1 2
2 4
3 6
4 8
5 10
hahaha

In [2]:
for i in a:
    print (i+1)

2
3
4
5
6

In [6]:
a = 'hello world'
for c in a:
    print(c)

h
e
l
l
o

w
o
r
l
d

- 정수형 및 실수형 즉, 숫자는 순회할 수 없으며, 인덱스 내에 있는 숫자를 순회해야 한다. 또는 리스트를.

In [9]:
a = [1,10,3,4,5]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)

2
5.0
4
2.0
6

### dict의 아이템 출력하기
- dictionary의 경우 기본적으로 순회하게 되면 key값을 참조
- keys()함수를 이용하여 key 값만 순회 가능
- values()함수를 이용하여 value 값만 순회 가능
- items()함수를 이용하여 tuple형태로 key, value 순회 가능

In [10]:
a = {'korea': 'seoul', 'japan': 'tokyo', 'canada': 'ottawa'}
for k in a:
    print(k) #dict를 순회하면 key만 가져온다.

korea
japan
canada

In [11]:
for v in a.values():
    print(v)

seoul
tokyo
ottawa

In [12]:
# key value를 같이 순회하려면
for kv in a:
    print(kv, a[kv])

korea seoul
japan tokyo
canada ottawa

In [13]:
a.items()

dict_items([('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')])

In [14]:
list(a.items()) #튜플임을 확인

[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [15]:
# 또는 items 함수를 이용하여 key, value를 모두 순회하여 출력, 방법은 여러가지다. 튜플 같은 경우 아래와 같이 가능.
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

#### for에서 index 사용하기
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
- 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)

In [16]:
a = [1, 2, 3, 4, 5]
for num in a:
    print(num)

1
2
3
4
5

In [18]:
# for문도 인덱스가 필요한 경우가 있다.
for index, num in enumerate(a): # index와 그 value 자체를 한꺼번에 가져올 수 있다.
    print(index, num)

0 1
1 2
2 3
3 4
4 5

In [19]:
for index, num in enumerate(a):
    if index > 3:
        print(index, num)

4 5

#### break
- for의 경우에도 특정 조건일 때, loop 종료가 가능

In [22]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    print(num)

100
90
80
70
60
50

In [21]:
for num in a:
    if num < 80:
        break
    print(num)

100
90
80

#### continue
- 해당 아이템을 건너 뛰고 싶을 때 사용

In [23]:
a = [100,90,80,70,60,50]
for num in a:
    if num >=60 and num <=70:
        continue
    print(num)

100
90
80
50

#### loop 중첩
- 반복문의 경우에도 중첩하여 사용 가능
- 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미
- 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
- 또한 중첩의 경우 무한히 가능

#### 구구단 출력하기

In [33]:
a = [1, 2, 4]
for i in a:
    for j in a:
        print (i * j, end=' ')
# a 리스트의 1이 먼저 i에 들어감
# j에도 1
# 1*1이 된다.
# 이 상태에서 i는 여전히 1이고 j가 a리스트의 1,2,4가 각각 대입되면서 출력되는데 곧 구구단 형태로 순회가 되는 것이다.
# 구구단을 제대로 만들어 보려면 리스트를 [1부터 9까지 넣으면 된다]

1 2 4 2 4 8 4 8 16

In [32]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
    for j in a:
        print (i * j, end=' ')

1 2 3 4 5 6 7 8 9 2 4 6 8 10 12 14 16 18 3 6 9 12 15 18 21 24 27 4 8 12 16 20 24 28 32 36 5 10 15 20 25 30 35 40 45 6 12 18 24 30 36 42 48 54 7 14 21 28 35 42 49 56 63 8 16 24 32 40 48 56 64 72 9 18 27 36 45 54 63 72 81

In [40]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
    print(i,'단')
    for j in a:
        print (i * j, end=' ')
    print()
    print()

1 단
1 2 3 4 5 6 7 8 9

2 단
2 4 6 8 10 12 14 16 18

3 단
3 6 9 12 15 18 21 24 27

4 단
4 8 12 16 20 24 28 32 36

5 단
5 10 15 20 25 30 35 40 45

6 단
6 12 18 24 30 36 42 48 54

7 단
7 14 21 28 35 42 49 56 63

8 단
8 16 24 32 40 48 56 64 72

9 단
9 18 27 36 45 54 63 72 81

In [4]:
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]
for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### Collection의 길이
- len() 내장함수로 계싼 가능
- 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
- abs, len, type, range 등이 있음(과정 진행하면서 필요할 때마다 다룰 예정)

In [5]:
a = [1,2,3,4,5,1]
len(a)

6

In [6]:
len('hello world')

11

-1부터 100까지의 리스트 생성하기

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
x = list(range(1,101))
print(x, end=' ')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [11]:
a = list(range(1,201))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

- 연습문제 : 1부터 100까지 카운트하는데 5씩 건너뛰기

In [12]:
list(range(1,100,5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

- 연습문제 : 1부터 100사이의 5의 배수만을 갖는 리스트 생성

In [19]:
x = list(range(5,101,5))
print(x, end=' ')

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### if & for 연습문제
1. 구구단을 2-9단까지 출력하시오
2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오
3. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오.(sorted, sort사용금지)
4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요

In [1]:
# 1번문제
a = [2,3,4,5,6,7,8,9]
b = [1,2,3,4,5,6,7,8,9]
a
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
a = list(range(1,10))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
b = list(range(2,10))
b

[2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# 복습
for i in a:
    for j in b:
        print(i, '*', j, '=', i*j)

1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [8]:
i = 1

while i<9:
    i = i+1
    for j in range(1,10):
        print(i, '*', j, '=', i*j, end='  /  ')

2 * 1 = 2  /  2 * 2 = 4  /  2 * 3 = 6  /  2 * 4 = 8  /  2 * 5 = 10  /  2 * 6 = 12  /  2 * 7 = 14  /  2 * 8 = 16  /  2 * 9 = 18  /  3 * 1 = 3  /  3 * 2 = 6  /  3 * 3 = 9  /  3 * 4 = 12  /  3 * 5 = 15  /  3 * 6 = 18  /  3 * 7 = 21  /  3 * 8 = 24  /  3 * 9 = 27  /  4 * 1 = 4  /  4 * 2 = 8  /  4 * 3 = 12  /  4 * 4 = 16  /  4 * 5 = 20  /  4 * 6 = 24  /  4 * 7 = 28  /  4 * 8 = 32  /  4 * 9 = 36  /  5 * 1 = 5  /  5 * 2 = 10  /  5 * 3 = 15  /  5 * 4 = 20  /  5 * 5 = 25  /  5 * 6 = 30  /  5 * 7 = 35  /  5 * 8 = 40  /  5 * 9 = 45  /  6 * 1 = 6  /  6 * 2 = 12  /  6 * 3 = 18  /  6 * 4 = 24  /  6 * 5 = 30  /  6 * 6 = 36  /  6 * 7 = 42  /  6 * 8 = 48  /  6 * 9 = 54  /  7 * 1 = 7  /  7 * 2 = 14  /  7 * 3 = 21  /  7 * 4 = 28  /  7 * 5 = 35  /  7 * 6 = 42  /  7 * 7 = 49  /  7 * 8 = 56  /  7 * 9 = 63  /  8 * 1 = 8  /  8 * 2 = 16  /  8 * 3 = 24  /  8 * 4 = 32  /  8 * 5 = 40  /  8 * 6 = 48  /  8 * 7 = 56  /  8 * 8 = 64  /  8 * 9 = 72  /  9 * 1 = 9  /  9 * 2 = 18  /  9 * 3 = 27  /  9 * 4 = 36  /  9 * 5 = 45  /  9 * 6 = 54  /  9 * 7 = 63  /  9 * 8 = 72  /  9 * 9 = 81  /

In [26]:
x = list(range(2,102,2))
y = list(range(11,100,11))
print('2의배수:',x, '............ ', '11의배수:', y, end=' ')

2의배수: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100] ............  11의배수: [11, 22, 33, 44, 55, 66, 77, 88, 99]

In [41]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
x = min(a)
y = max(a)
avg = sum(a) / len(a)
print('최소값 : ', x)
print('최대값 : ', y)
print('평균값 : ', avg)

최소값 :  1
최대값 :  99
평균값 :  37.0